body {
}

.hubsection {
  width: 840px;
  margin: 0 20px;
}

#section1 .content > div{
  width: 100px;
  height: 100px;
  margin: 10px;
  float: left;
  background-color: gray;
}

#section2 .colorbox{
  width: 100px;
  height: 100px;
  margin-right: 20px;
  float: left;
}